# Virtual Environment
myenv/
venv/
.venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Large binary / model files (recommend downloading separately)
*.task
assets/*.mp4
assets/*.mp3

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
